<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= name %> | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- iCheck -->
    <link
      rel="stylesheet"
      href="plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- Select2 -->
    <link rel="stylesheet" href="plugins/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
    />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css" />
    <!-- Google Font: Source Sans Pro -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css" />
    <link href="stylesheets/cas.css" rel="stylesheet" />

    <!-- Load vue -->
    <!-- <script src="vue/vue.min.js"></script>
    <script src="vue/vue-router.js"></script> -->
  </head>
  <!-- Menues and navigation are renderd in the server (ejs) to decide which menue
  for which user should be displayed -->

  <body class="sidebar-mini layout-fixed layout-navbar-fixed">
    <div id="app" class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-dark navbar-info">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
          
          <li class="nav-item dropdown dropright">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fas fa-plus-circle"></i>
              <span> New </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <a v-if="isSuper" href="#" class="dropdown-item">
                <i class="fas fa-school mr-2"></i> Institution
              </a>
              <div class="dropdown-divider"></div>
              <a v-if="isSuper" href="#" class="dropdown-item">
                <i class="fas fa-user mr-2"></i> User
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item" data-toggle="modal"
              data-target="#newCriteriaModal">
                <i class="fas fa-filter mr-2"></i> Criteria
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-cubes mr-2"></i> Program
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-gem mr-2"></i> Application
              </a>
              <div class="dropdown-divider"></div>
              <a v-if="isSuper" href="#" class="dropdown-item">
                <i class="fas fa-asterisk mr-2"></i> Attribute
              </a>
              <div class="dropdown-divider"></div>
              <a v-if="isSuper" href="#" class="dropdown-item">
                <i class="fas fa-asymmetrik mr-2"></i> Student Results
              </a>
              </a>
            </div>
          </li>

        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="far fa-bell"></i>
              <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-item dropdown-header"
                >15 Notifications</span
              >
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item dropdown-footer"
                >See All Notifications</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="far fa-user-circle"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-info">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
          <img
            src="images/cas_logo01.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8;"
          />
          <span class="brand-text font-weight-light">CAS</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> -->
            </div>
            <div class="info">
              <a href="#" class="d-block">Bernard Mussa</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column nav-flat"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-item">
                <router-link
                  to="/dashboard"
                  class="nav-link router-link-exact-active router-link-active"
                >
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                  </p>
                </router-link>
              </li>

              <li v-if="isSuper" class="nav-item">
                <router-link
                  to="/institutions"
                  class="nav-link"
                >
                  <i class="nav-icon fas fa-school"></i>
                  <p>
                    Institutions
                  </p>
                </router-link>
              </li>

              <li class="nav-item">
                <router-link
                  to="/criteria"
                  class="nav-link"
                >
                <i class="nav-icon fas fa-filter"></i>
                  <p>
                    Criteria
                  </p>
                </router-link>
              </li>

              <li class="nav-item">
                <router-link
                  to="/programs"
                  class="nav-link"
                >
                <i class="nav-icon fas fa-cubes"></i>
                  <p>
                    Programs
                  </p>
                </router-link>
              </li>

              <li class="nav-item">
                <router-link
                  to="/applications"
                  class="nav-link"
                >
                  <i class="nav-icon fas fa-gem"></i>
                  <p>
                    Applications
                  </p>
                </router-link>
              </li>

              <li v-if="isSuper" class="nav-item">
                <router-link
                  to="/users"
                  class="nav-link"
                >
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Users
                  </p>
                </router-link>
              </li>

              <li v-if="isSuper" class="nav-item">
                <router-link
                  to="/attributes"
                  class="nav-link"
                >
                  <i class="nav-icon fas fa-asterisk"></i>
                  <p>
                    Attributes
                  </p>
                </router-link>
              </li>

              <li v-if="isSuper" class="nav-item">
                <router-link
                  to="/results"
                  class="nav-link"
                >
                  <i class="nav-icon fas fa-asymmetrik"></i>
                  <p>
                    Student Results
                  </p>
                </router-link>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <router-view></router-view>

            <new-criteria-modal></new-criteria-modal>

          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong
          >Copyright © 2020 <a href="https://cas.ac.tz">cas.ac.tz</a>.</strong
        >
        All rights reserved.
      </footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="plugins/select2/js/select2.full.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="plugins/sparklines/sparkline.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <script src="plugins/sweetalert2/sweetalert2.min.js"></script>

    <script src="plugins/serializeObject/jquery.serialize-object.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
   
    <script src="libs/axios.js"></script>

    <!-- Load vue -->
    <script src="vue/vuex.js"></script>
    <script src="vue/vue.js"></script>
    <script src="vue/vue-router.js"></script>

    <script src="js/cas.admin.components.vue.js"></script>
    <script src="js/cas.admin.vue.js"></script>

    <script>
      $.widget.bridge("uibutton", $.ui.button);
      // Initialize select2
      $(function () {
        $(".select2").select2();

        // Initialize Select2 Elements
        $(".select2bs4").select2({
          theme: "bootstrap4",
        });
      });
    </script>
  </body>
</html>
