<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Central Admission System</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" />
    <link href="stylesheets/cas.css" rel="stylesheet" />

    <style>
      .brand-img{
        width: 25px;
        height: 25px;
      }
    </style>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <!-- <a class="navbar-brand" href="#">CAS</a> -->
      <a href="#" class="navbar-brand">
        <img src="images/cas_logo01.png" alt="CAS Logo" 
        style="opacity: 0.8;"
        class="brand-img rounded"> 
        <span class="pt-3">CAS</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid px-0 py-5 mb-3">
      <div class="text-center">
        <h3 class="color-light-blue">To register or login to the system please click the button below</h3>
        <a href="/login">
          <button id="login-btn" class="btn btn-lg btn-info">
            Login
          </button>
        </a>
      </div>
    </div>

    <!-- <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
